@import 'variables';
@import 'rad-theme';

html, body, section.mat-typography {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    list-style-type: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
