@import 'variables';

.ring-item-component {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    transition: 0.3s ease all;
    
    img.ring-item-icon {
        width: 64px;
        height: 64px;
        margin-bottom: 0.7rem;
        transition: 0.3s ease all;
    }

    .ring-item-name {
        background: rgba(0, 0, 0, 0.2);
        font-weight: lighter;
        margin: 0 auto;
        padding: 0.3rem;
        text-align: center;
    }

    &:hover {
        font-size: 24px;

        img.ring-item-icon {
            width: 72px;
            height: 72px;
        }
    }
}