@import 'mixins';

.ring-component {
    position: relative;
    width: 100%;

    h1 {
        text-align: center;
    }

    .identity-container {
        position: absolute;
        top: calc(50% - 86px);
        left: calc(50% - 66px);

        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.ring-icon {
    height: 10vw;
    object-fit: cover;
    width: 10vw;
}

.ring-items {
    left: calc(50% - 15em);
    @for $i from 1 through 8 {
        &.items-#{$i} {
            @include on-circle($item-count: $i, $circle-size: 30em, $item-size: 6em);
        }
    }
}
