@import 'mixins';

.ring-component {
    position: relative;

    h1 {
        text-align: center;
    }

    .identity-container {
        position: absolute;
        top: calc(50% - 86px);
        left: calc(50% - 66px);

        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.ring-icon {
    height: 10vw;
    object-fit: cover;
    width: 10vw;
}

.ring-items {
    @include on-circle($item-count: 2, $circle-size: 50vw, $item-size: 6em); 
}

li {
    transition: all 1.1s ease-in-out;
}